/* Monochrome */
$obsidian: #141414;
$charcoal: #282828;
$onyx: #3C3C3C;
$wolfram: #4F4F4F;
$graphite: #636363;
$iron: #777777;
$concrete: #8B8B8B;
$steel: #9F9F9F;
$platinum: #B3B3B3;
$silver: #C6C6C6;
$alu: #DADADA;
$cloud: #eeeeee;

/* Blues */
$blue: #0000FF;
$prussian: #273768;
$void: #11132A;
$deepocean: #020670;
$midnight: #191970;
$navy: #000080;
$cerulean: #007BA7;
$royal: #4169E1;
$babyblue: #6CC0F6;
$sky: #A3DEF5;
$glaucous: #6082B6;
$azure: #0080FF;
$teal: #008080;
$celeste: #B2FFFF;
$cobalt: #0047AB;
$frenchblue: #0072BB;

/* Blues - Soft */
$ice: #C4E3F7;
$steelblue: #9ABDD8;
$fog: #B0CFE3;

/* Blues - Dark */
$nightfall: #0D1A3B;
$abyss: #0A1440;
$ink: #111E4A;

/* Greens */
$green: #008000;
$viridian: #40826D;
$camo: #2B350E;
$dollar: #279923;
$forest: #228B22;
$grass: #7EC850;
$medium_sea_green: #3CB371;
$emerald: #50C878;
$limegreen: #32CD32;
$chartreuse: #7FFF00;
$olive: #808000;
$jade: #00A36C;
$moss: #8A9A5B;
$pine: #01796F;
$mint: #3EB489;
$shamrock: #33CC33;

/* Greens - Soft */
$chlorophyl: #A5D9B2;
$sage: #B8CFA5;
$pistachio: #C1E0B5;

/* Greens - Dark */
$evergreen: #0E3D1F;
$cypress: #1F4A2F;
$fir: #213D24;

/* Yellows */
$yellow: #FFE600;
$lime: #9ACD32;
$sandstone: #A89967;
$mustard: #FFAD00;
$saffron: #DAA520;
$ochre: #CC7722;
$gold: #FFD700;
$sand: #ECD540;
$sun: #ffe5a8;
$banana: #FFD12A;
$lemon: #FFF700;
$topaz: #FFC87C;
$amber: #FFBF00;
$pyrite: #E5C100;
$honey: #FFC30B;
$dandelion: #FED85D;

/* Yellows - Soft */
$jasmin: #f8de7e;
$pollen: #faf0cb;
$straw: #d6caa4;

/* Yellows - Dark */
$harvest: #8C6A1E;
$amberwood: #705A17;
$husk: #6B4E1C;


/* Oranges */
$orange: #FFA500;
$persimmon: #EC5800;
$peach: #FFDABB;
$apricot: #FFB16D;
$coral: #FF7F50;
$carrot: #ED9121;
$chai: #D2691E;
$ember: #D45727;
$tangerine: #F28500;
$clementine: #E86A17;
$pumpkin: #FF7518;
$marmalade: #E56220;
$tiger: #FD6A02;
$copper: #B87333;
$butterscotch: #E39B6D;
$granite: #C25400;

/* Oranges - Soft */
$peachfuzz: #F7C8A4;
$cantaloupe: #F2B98D;
$apricot: #FDD5B1;

/* Oranges - Dark */
$cinnamon: #6F2F0B;
$clove: #5B2308;
$darkalmond: #Ab784E;


/* Reds */
$red: #FF0000;
$chestnut: #5D3228;
$crimson: #DC143C;
$rohvian: #b00000;
$alizarin: #E32636;
$rosewood: #450C0C;
$scarlet: #FF2400;
$bourdeaux: #5C0120;
$firebrick: #B22222;
$maroon: #800000;
$amaranth: #9B2B68;
$burgundy: #800020;
$cerise: #DE3163;
$vermilion: #E34234;
$ruby: #E0115F;
$sanguine: #BC3F4A;
$oxblood: #4A0000;

/* Reds - Soft */
$softrose: #E6A8A8;
$blush: #E8B4B8;
$cameo: #F5C6C6;

/* Reds - Dark */
$crimson: #570707;
$garnet: #4D0E12;
$brick: #5A1C1C;

/* Purples */
$purple: #800080;
$magenta: #FF00FF;
$indigo: #4B0082;
$violet: #8F00FF;
$lavender: #9576AA;
$plum: #8E4585;
$amethyst: #9966CC;
$orchid: #DA70D6;
$rose: #FF0080;
$wisteria: #C9A0DC;
$mulberry: #C54B8C;
$rebeccapurple: #663399;
$hotpink: #FF69B4;
$bubblegum: #FF1493;
$fuchsia: #FF00FF;
$lilac: #C8A2C8;


/* Purples - Soft */
$mauve: #E0B0FF;
$periwinkle: #CCCCFF;
$thistle: #D8BFD8;

/* Purples - Dark */
$damson: #4B1D3F;
$blueberry: #312581;
$tyrian: #66023C;