@use "tailwindcss";
@use "./colorVars.scss" as *;

* {
    user-select: none;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;

}

@mixin mobile {
    @media screen and (max-aspect-ratio: 3/4) {
        @content;
    }
}

@mixin small-desktop {
    @media screen and (max-aspect-ratio: 4/3) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-aspect-ratio: 4/3) {
        @content;
    }
}

$anim: all 0.32s cubic-bezier(.17, .67, .32, .99);

.glass {
    backdrop-filter: blur(2vmin) brightness(1.2);
    background: #ffffff6a;
    border-radius: 1vmin;
    color: $charcoal;
}

.hidden {
    display: none;
}



aside.main-panel {
    bottom: 1vmin;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 60%;
    height: fit-content;
    z-index: 20;
    padding: 1.6vmin;
    border-radius: 1vmin;
    transition: $anim;
    font-weight: 600;

    &.minimized {
        width: 20%;
        height: 4vh;
        font-size: 2vmin;
        transition: $anim;
        cursor: pointer;

        &:hover {
            backdrop-filter: brightness(1.3);
        }

        * {
            display: none;
        }
    }

    @include small-desktop() {
        width: 94%;
        font-size: 2.5vmin;

    }

    .station-select {
        display: grid;
        position: relative;
        grid-template-columns: repeat(3, 1fr);
        font-size: 2.6vmin;

        @include small-desktop() {
            grid-template-columns: repeat(2, 1fr);
        }

        button {
            text-transform: capitalize;
            height: 5vh;
            transition: $anim;
            border-radius: .8vmin;
            margin: 0.2vmin;

            @include small-desktop() {
                height: 3vh;
                padding: 1vmin;
                font-size: 3vmin;
            }

            &.active {
                background-color: $cobalt;
                color: $cloud;
                font-weight: 600;
            }

            @include desktop() {
                letter-spacing: .1vmin;
                font-weight: 600;

                &:hover {
                    cursor: pointer;
                    background-color: $cloud;
                    color: $cobalt;
                }

            }
        }
    }

    .camera-offset {
        font-size: 2.4vmin;
        margin-top: 1vmin;
        text-align: center;
        color: $charcoal;
    }

    .minimize-btn {
        position: absolute;
        bottom: 1vmin;
        left: 0;
        right: 0;
        width: 10vmin;
        margin: 0 auto;
        font-size: 3vmin;
        border-radius: 1vmin;

        &:hover {
            cursor: pointer;
            background-color: $cobalt;
        }
    }

}

.platform-panel {
    position: absolute;
    top: 1vmin;
    left: 1vmin;
    width: fit-content;
    height: fit-content;
    backdrop-filter: blur(4vmin) brightness(1.2);
    z-index: 20;
    padding: 2vmin;
    border-radius: 1vmin;
    font-family: "Noto Sans", sans-serif;
    transition: $anim;

    text-align: center;

    @include mobile() {
        width: 98%;
        margin: auto;
        font-size: 2.5vmin;
    }

    h2 {
        margin-bottom: 2vmin;
        font-size: 2.6vmin;
        text-transform: capitalize;
        font-weight: 700;

        @include mobile() {
            font-size: 4vmin;
        }
    }

    .trains-list {
        display: flex;
        flex-direction: column;

        @include small-desktop() {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
        }

        .train-item {
            padding: .8vmin;
            line-height: normal;
            transition: $anim;
            border-radius: .8vmin;
            font-size: 2.2vmin;


            .destination {
                font-weight: 600;


            }

            .details {
                font-weight: 400;


            }

            &.active {
                background-color: $cobalt;
                color: $cloud;
                font-weight: 600;
            }

            @include desktop() {

                .destination {
                    font-size: 1.6vmin;
                }

                .details {
                    font-size: 1.8vmin;
                }

                &:hover {
                    cursor: pointer;
                    background-color: $cloud;
                    color: $cobalt;
                }
            }

            @include mobile() {
                font-size: 2.8vmin;
            }


        }
    }

}

.main-app {
    canvas {
        overflow: hidden;
        min-height: 100vh;
        width: 100%;
    }
}