@use "tailwindcss";

* {
    user-select: none;
    box-sizing: border-box;
    font-family: var(--font-noto-sans), sans-serif;
}

@mixin mobile {
    @media screen and (max-aspect-ratio: 3/4) {
        @content;
    }
}

@mixin small-desktop {
    @media screen and (max-aspect-ratio: 4/3) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-aspect-ratio: 4/3) {
        @content;
    }
}


.main-panel {
    position: fixed;
    top: 10vh;
    left: 4vmax;
    width: 30vmax;
    height: 80vh;

    backdrop-filter: blur(4vmin) brightness(1.2);
    z-index: 10;
    padding: 4vmin;
    @include mobile() {
        font-size: 2.5vmin;
        width: 40vmin;
        height: 40vh;
        left: 2vmin;
        top: 2vmin;
        button {
            padding: 1vmin;
            padding: 0;
        }
    }
}

.main-app {
    canvas {
        overflow: hidden;
        min-height: 96vh;
        width: 100%;
    }
}
